$header-height: 50px;
$color-banda: #A2C037;
$taronga: #F3B61F;
$gris: #BBD8B3;
$fons-sidebar: #fffc;
$verdet: #C5F694;
$rojet: #FE6E6E;

$medium-green: #017C72;
$atomic-orange: #FF934F;
$accent-yellow: #E7E393;
$brick-red: #C33C54;
$tufts-blue: #3C91E6;
$coffe: #342E37;
$gris-clar: #d3d3d396;