.bg-transparent
  background-color: transparent
.card
  .b-calendar-inner
    header
      width: auto !important
      border: none
  .b-calendar-nav
    display: none
.uppercase
  text-transform: uppercase

.accions
  text-align: right
  margin-top: -16px
  margin-bottom: 10px
  // height: 35px
  padding: 6px 20px
  border: 1px solid #dee2e6
  border-top: none
.boto
  padding: 4px
  border-radius: 5px
  min-height: 24px
  &:hover
    background-color: rgba(0, 0, 0, 0.075)
