@import "./colors";

.notificacio {
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    .dismiss-notification {
        float: right;
        margin-right: 15px;
    }
    &::before {
        font-size: .8em;
        margin-right: 10px;
    }
}

.error {
    &::before { content: '😨' }
    background-color: $brick-red;
}